# Archivos compilados de Python
__pycache__/
*.pyc

# Entornos virtuales
venv/
env/

# Configuracion de editores
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales de prueba
prueba.py